#text_format {
    text-align: justify; 
    text-indent: 20 px;
    text-transform: uppercase;
    text-decoration: none;;
    word-spacing: 10 px;

    border-top-style: dotted;
    border-top-color: blue;
    border-top-width: 3px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(255, 0, 25);
    border-bottom-width: 3px;
    padding-left:20 px;
    padding-right: 20 px;
    padding-top: 20 px;
    padding-bottom: 20 px;
    margin: 20 px;

}
